name: shop_frontend
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter
  http: 1.3.0
  flutter_secure_storage: 9.2.4
  url_launcher: ^6.3.1
  shared_preferences: ^2.0.0
  provider: ^6.0.0
  bitsdojo_window: ^0.1.2
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
